[submodule "pack/universal/start/surround"]
	path = pack/universal/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/integration/start/fugitive"]
	path = pack/integration/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/integration/start/obsession"]
	path = pack/integration/start/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/integration/start/eunuch"]
	path = pack/integration/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "pack/lisp/start/sexp"]
	path = pack/lisp/start/sexp
	url = https://github.com/guns/vim-sexp.git
[submodule "pack/lisp/start/sexp-mapping-for-regular-people"]
	path = pack/lisp/start/sexp-mapping-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule "pack/universal/start/repeat"]
	path = pack/universal/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/programming/start/endwise"]
	path = pack/programming/start/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "pack/programming/start/commentary"]
	path = pack/programming/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/ruby/start/bundler"]
	path = pack/ruby/start/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "pack/universal/start/characterize"]
	path = pack/universal/start/characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "pack/ruby/start/rvm"]
	path = pack/ruby/start/rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "pack/programming/start/apathy"]
	path = pack/programming/start/apathy
	url = https://github.com/tpope/vim-apathy.git
[submodule "pack/integration/start/ctrlp"]
	path = pack/integration/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/integration/start/tbone"]
	path = pack/integration/start/tbone
	url = https://github.com/tpope/vim-tbone
[submodule "pack/programming/start/radical"]
	path = pack/programming/start/radical
	url = https://github.com/glts/vim-radical.git
[submodule "pack/programming/start/magnum"]
	path = pack/programming/start/magnum
	url = https://github.com/glts/vim-magnum.git
[submodule "pack/obscure/start/speeddating"]
	path = pack/obscure/start/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "pack/integration/start/gitgutter"]
	path = pack/integration/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/obscure/start/tabular"]
	path = pack/obscure/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/ui/start/supertab"]
	path = pack/ui/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/ui/start/buffet"]
	path = pack/ui/start/buffet
	url = https://github.com/bagrat/vim-buffet.git
[submodule "pack/universal/start/unimpaired"]
	path = pack/universal/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/integration/start/ctrlp-funky"]
	path = pack/integration/start/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule "pack/notgrep/start/ack"]
	path = pack/notgrep/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/web/start/liquid"]
	path = pack/web/start/liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "pack/web/start/plasticboy-markdown"]
	path = pack/web/start/plasticboy-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/swift/start/swift"]
	path = pack/swift/start/swift
	url = https://github.com/keith/swift.vim.git
[submodule "pack/programming/start/syntastic"]
	path = pack/programming/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/integration/start/vim-vinegar"]
	path = pack/integration/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/notgrep/start/fzf.vim"]
	path = pack/notgrep/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/programming/start/closer"]
	path = pack/programming/start/closer
	url = https://github.com/rstacruz/vim-closer.git
[submodule "pack/universal/start/yoink"]
	path = pack/universal/start/yoink
	url = https://github.com/svermeulen/vim-yoink.git
[submodule "pack/obscure/start/abolish"]
	path = pack/obscure/start/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/tags/start/gutentags"]
	path = pack/tags/start/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/typescript/start/typescript-vim"]
	path = pack/typescript/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/typescript/start/vim-jsx-pretty"]
	path = pack/typescript/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "pack/dart/start/dart-vim-plugin"]
	path = pack/dart/start/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "pack/dart/vim-flutter"]
	path = pack/dart/start/vim-flutter
	url = https://github.com/thosakwe/vim-flutter.git
[submodule "pack/programming/start/jsonc"]
	path = pack/programming/start/jsonc
	url = https://github.com/kevinoid/vim-jsonc.git
